
.SearchBox{
    font-size:1.85em;
    font-family: Shabnam;

}
.SearchBoxInput{
    font-family: Shabnam;
    border: 2px;
    border-width: 0.5px;
    /* color: #cbcbcb; */
    background-color:#e6e6e6; 
    border-radius: 4px;
    direction: rtl;
    float: right;
    margin-top: 12px;
    margin-right: 10px;
    width: 180px;   
    border-color: #cbcbcb;
    padding-right: 8px;
    /* border-bottom-width: 10px; */
    height: 30px;
    margin-top: 5px;
    width: 440px;
}
.SearchBoxInput:focus{
    outline: none;
}
.main_list_neighbor_input_element:focus{
    color: #9c9c9c;
    outline: none;
}
.main_list_neighbor_input_element{
    border: none;
    float: right;
    margin-top : 0.8%;
    margin-right : 1.5%;
    font-family: Shabnam;
    font-size: 1rem;
    color: #9c9c9c;
}
.SideBar{
    float: right;
    text-align: right;
    border-width: 1px;
    flex: 20%;
    margin-top: 80px;
    margin-right: 50px;
    margin-left: 10px;
    direction: ltr;

}
.ReactCheckBox{
    width: 1.6em;
    height: 1.6em;
    background-color: #fbfbfb;
    border-radius: 24%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: checkbox;
    outline: none;
    cursor: pointer;
}
/* .ReactCheckBox:checked{
    
} */
.ReactCheckBox_div{
    font-family: Shabnam;
}
.ReactCheckBox_div:hover{
    box-shadow: -3px 3px 9px -5px;
    border-radius: 3px;
    perspective: 1px;
    overflow: hidden;
    transition: box-shadow 0.3s;
    box-shadow:0px 0px 5px 0px #c9c9c985;
}
.SearchButton{
    float: left;
    position: absolute;
    z-index: -1;
    left: 0px;
    margin-left: 36px;
    height: 57px;
    margin-top: 12px;
    outline: none;
    background: url(/mocks/Search_icon.jpg);
    width: 59px;
    border-right-width: 1px;
    border-top-color: rgb(226, 226, 226);
    border-top-style: solid;
    border-top-width: 1px;
    /* border-right-color: rgb(226, 226, 226); */
    /* border-right-style: solid;
    border-right-width: 1px; */
    border-bottom-color: rgb(226, 226, 226);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(226, 226, 226);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: .7rem;
    border-top-left-radius: 0.7rem;
    /* border-top-right-radius: 0.7rem; */
    /* border-bottom-right-radius: 0.7rem; */
    border-bottom-left-radius: 0.7rem;
}
.Counter{
    font-family: Shabnam;
    float: right;
}
.ClosedTitle{
    float: right;
    font-family: Shabnam;   
    font-size: 1.3rem;
    font-weight: 700;
    color: #191919;
    padding-right: 90px;
    /* margin: 128px 16px 32px 0;
    margin: 8rem 1rem 2rem 0; */
}


.ClosedRestaurants{
    margin-top: 70px;
    margin-right: 80px;
    /* display: grid;
    grid-template-columns: repeat(3,320px); */
    /* grid-gap: 10px; */
    display: flex;
    flex-flow: row wrap;
    /* justify-content: right; */
    /* grid-gap: 10px; */
    justify-content: flex-start;
    /* justify-content: space-around; */
    flex-direction: row-reverse;

}
@media screen and (max-width: 70em) and (min-width : 40em) {
    /* .ClosedRestaurants {
      grid-template-columns: repeat(2, 320px);
      grid-gap: 10px;
    } */
  }
@media screen and (max-width: 40em) {
    /* .ClosedRestaurants {
      grid-template-columns: repeat(1, 320px);
      grid-gap: 10px;
    } */
  }
.ClosedRestaurants  > div{
    /* width :auto;
    height: 185px; */
    margin: 11px;
    /* flex-shrink: 0; */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 27%;
    height: 185px;
}
.AllRestaurants{
    width: 1172px;
    padding-right: 85px;
}
.OpenRestaurants{
    /* margin-right: 300px; */
    margin-right: 80px;
    margin-top: 80px;
    /* display: grid;
    grid-template-columns: repeat(3,320px);
    float: right; */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    flex-direction: row-reverse;
    
    /* direction: rtl; */
}
@media screen and (max-width: 70em) and (min-width : 40em){
    .OpenRestaurants{
      flex-wrap: wrap;
    }
    .OpenRestaurants:first-child{
        flex-basis: 50%;
    }
    .ClosedRestaurants{
        flex-wrap: wrap;
      }
    .ClosedRestaurants:first-child{
        flex-basis: 50%;
    }
}
@media screen and (max-width: 40em) {
    .OpenRestaurants{
        flex-wrap: wrap;
    }
    .OpenRestaurants:first-child{
        flex-basis: 100%;
    }
    .ClosedRestaurants{
        flex-wrap: wrap;
    }
    .ClosedRestaurants:first-child{
        flex-basis: 100%;
    }
}
.OpenRestaurants > div{
    width :auto;
    height :185px;
    margin: 11px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 27%;
}
.BodyContainer{
    /* display: flex; */
    direction: rtl;
    
}
.SearchBoxContainer{
    height: 80px;
    background-color: white;
}
.SearchBox_div{
    padding-top: 25px;
}
.restaurant_search_banner{
    height: 9rem;
    background-position: 50%;
    background-repeat: no-repeat;
    background-image: url("/mocks/restaurant_search_banner.png");
}


.RestaurantCardLarge_div{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-family: Shabnam;
    border-width: 1px;
    font-size: 0.8em;
    height: 30%;
    width: 55%;
    background-color: #fff;
    text-align: center;
    box-shadow: -3px 3px 9px -5px;
    border-radius: 3px;
    perspective: 1px;
    overflow: hidden;
    transition: box-shadow 0.3s;
    box-shadow:0px 0px 5px 0px #cfcfcf85;
}
.RestaurantCardLarge_div:hover{
    box-shadow:0px 0px 20px 0px #cfcfcf85;
}
.RestaurantCardLarge_logo{
    width: 84px;
    height: 84px;
    margin-top: 3px;
    border: 2px;
    box-shadow:0px 0px 20px 0px #cfcfcf85;
    border: 1px solid #d8d9da;
    border-radius: 5px;
}
.food_card_div{
    font-family: Shabnam;
    text-align: center;
    float: right;
    border-width: 1px;
    font-size: 0.8em;
    height: 215px;
    width: 33%;
    height: 147px;
    background-color: #fff;
    text-align: center;
    box-shadow: -3px 3px 9px -5px;
    border-radius: 3px;
    perspective: 1px;
    overflow: hidden;
    transition: box-shadow 0.3s;
    box-shadow:0px 0px 5px 0px #cfcfcf85;
}
.food_card_div:hover{
    box-shadow: -3px 3px 9px -5px;
    border-radius: 3px;
    perspective: 1px;
    overflow: hidden;
    transition: box-shadow 0.3s;
    box-shadow:0px 0px 5px 0px #c9c9c985;
    cursor: pointer;
}
.food_card_button{  
    color: rgb(212,2,99);
    clear: both;
    float: right;
    background-color: white;
    font-size: 0.8em;
    font-family: Shabnam;
    border-radius: 23px;
    height: 28px;
    width: 120px;
    padding-top: 5;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    text-align: center;
    border: 1px solid;
    transition: 0.3s;
    outline: none;
    margin-top : 5px;
    margin-right: 15px;
}
.food_card_button:hover{
    background-color: rgb(241, 226, 232);
    cursor: pointer;
}
#food_card_name{
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 1.7em;
    font-weight: 700;
}
#food_card_price{
    float: left;
}
#food_card_price_div{
    

}
#food_card_descp{
    float: right;
    clear: both;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right:24px;
    font-size: 1em;
    color: #8f8e8e;
}
#food_card_toman{
    float: left;
    margin-top:21px;
    margin-left: 15px;
}
#food_card_name_div{
    float: right;
}
.food_card_name_price_div{
    height: 40px;
    margin-top: 20px;
}
.link_restaurant_large_card{
    text-decoration: none;
    font-size: 1rem;
    color : #a0a0a0;
}
.link_restaurant_large_card:hover{
    color: black;
}
#RestaurantCardLarge_food{
    color: #000000;
    font-weight: 600;
    font-size: 1.1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: center;
    flex-direction: row-reverse;
    list-style: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 3px;
    margin-bottom : 0px;
    padding-right: 40px;
}

#RestaurantCardLarge_name{
    font-size: 1.5em;
    margin-bottom: 5;
    margin-top: 0px;
    margin-bottom: 0px;
}
#RestaurantCardLarge_name h2{
    margin-top: 0px;
    margin-bottom: 0px;
}

.orange_rating_large{
    color:rgb(255,195,0);
    font-weight: 300;
    font-size : 1.5em;
    margin-top : 2px;
    
}
.tag_list_restaurantCardLarge{
    justify-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    flex-direction: row-reverse;
    list-style: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top : 25px;
}
.tag_list_restaurantCardLarge > li{
    margin-bottom: 1%;
}
.tag_list_restaurantCardLarge::before{
    /* background-image: radial-gradient(circle at 51% 0,#f3f3f3,#e9e9e9 62%,hsla(0,0%,89%,0));
    width: 10px;
    height: 1.6px;
    height: .1rem;
    left: 0; */
    background-color: red;
    height : 1.5px;
    width : 20px;
} 
.card_large_background_container{
    background-image: url("/mocks/restaurant_page.jpg"); 
    
}

.card_large_banner{
   
}
#RestaurantCardLarge_food{

}
#RestaurantCardLarge_address{
    margin-top: 0px;
}
.food_set_sidebar_restaurant_page{
    list-style: none;
    font-family: Shabnam;
    float: right;
    text-align: right;
}
.food_set_sidebar_restaurant_page ::before{

}
.food_set_sidebar_restaurant_page_div::before{
    display: block;
    height: 10px;
    border: 0;
    border-top: 1px solid rgb(230, 230, 230);
    margin: 1em 0;
    padding: 0;
    content: '';
    height: 100%;
    width : 1px;
}
.OpenRestaurants_copy{
      /* margin-right: 300px; */
      margin-right: 80px;
      /* margin-top: 80px; */
      /* display: grid;
      grid-template-columns: repeat(3,320px);
      float: right; */
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      flex-direction: row-reverse;
      
}

.horizontal_navigation_CardLarge::before{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    content: '';
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.info_box_div{
    position: relative;
    direction: rtl;
    /* margin-right: 15rem; */
    margin-left: 14rem;
    margin-top: 5rem;
    width : 65%;
}
.inner_information_box{
    margin-right: 1rem;
    
}
.info_header::after{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(230, 230, 230);
    margin: 1em 0;
    padding: 0;
    content: '';
    width: 92%;
}
.info_header{
    margin-right: 1em;
}
.infobox_timing_li{
    width : 70%;
}
.infobox_timing_li::after{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    content: '';
    width: 100%;
}
.infobox_timing_ul{
    list-style: none;
    font-family: Shabnam;
    font-size: 0.75rem;
    width : 50%;
}
.stars_list_comment_summary{
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    padding-left: 4px;
    padding-right: 4px;
    list-style: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
}

.orange_rating_large_comment_summary{
    color:rgb(255,195,0);
    font-weight: 600;
    font-size : 1.5em;
    margin-top : 2px;
    text-align: center;
    
}
.orange_rating_large_comment_summary::after{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(230, 230, 230);
    margin: 1em 0;
    padding: 0;
    content: '';
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.progress_comment_summary_div{
    display: flex;
    justify-content: space-between;
    direction: ltr;
    width : 50%;
    margin : auto;
    font-family: Shabnam;

}
.progress_rc_div{
    margin-top: 4%;
    width: 60%;
}
.progress_comment_summary_line{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(230, 230, 230);
    margin: 1em 0;
    padding: 0;
    content: '';
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}
.test_in{
    margin-left: auto;
    margin-right: 4%;
}
.test_out{
    display: contents;
}
.inner_comment_summary_box::after{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(230, 230, 230);
    margin: 1em 0;
    padding: 0;
    content: '';
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.orange_rating_large_commentCard{
    color:rgb(255,195,0);
    font-weight: 300;
    font-size : 1em;
    margin-top : 2px;
    float: left;
    direction: ltr;
    margin-left: 4rem;
}
.stars_list_commentCatd{
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    list-style: none;
    flex-wrap: wrap;
    padding-left: 4px;
    list-style: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0px;
    margin-top : 0px;
}