@font-face{
    font-family: Yekan;
    src: url(../fonts/BYekan/BYekan+.ttf);
}
@font-face{
    font-family: YekanBold;
    src: url(../fonts/BYekan/BYekan+\ Bold.ttf);
}
.topnav{
    direction: rtl;
    font-family: Yekan;
}
.topnav a:link{
    text-decoration: none;
    color: #4a4a4a;
}
 .topnav a:hover{
    color: purple;
} 
.topline {
    border-style: solid;
}