@font-face{
    font-family: Yekan;
    src: url(../fonts/BYekan/BYekan+.ttf);
}
@font-face{
    font-family: YekanBold;
    src: url(../fonts/BYekan/BYekan+\ Bold.ttf);
}
@font-face{
    font-family: ShabnamBold;
    src: url(../fonts/shabnam-font-v4.0.0/Shabnam-Bold.ttf);
}
@font-face{
    font-family: ShabnamLight;
    src: url(../fonts/shabnam-font-v4.0.0/Shabnam-Light.woff);
}
@font-face{
    font-family: Shabnam;
    src: url(../fonts/shabnam-font-v4.0.0/Shabnam.ttf);
}

.body,html{
    margin: 0;
    height: 100%;
    background-color: rgb(250,250,250);
}
.topnav{
    direction: rtl;
    font-family: Yekan;
    padding-top: 0.6%;
    padding-bottom: 1%;
    padding-right: 9%;
}
.topnav_word{
    display: inline-block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
    padding-left: 0.2%;
    padding-right: 0.2%;
    text-decoration: none;
    color: #4a4a4a;
    -webkit-transition: border-color .3s;
    -o-transition: border-color .3s;
    transition: border-color .3s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
 .topnav a:hover {
    color: #d40062
} 
.topline {
    border-image: linear-gradient(270deg,#8b00af,#d40062,#ff0613) 1;
    border-image-source: linear-gradient(270deg, rgb(139, 0, 175), rgb(212, 0, 98), rgb(255, 6, 19));
    border-image-slice: 1;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-width: 0 0 4.8px;
    border-width: 0 0 .3rem;
    border-style: solid;
}
.pipe {
    display: inline-block;
    height: 20px;
    width: 2px;
    background-color: #cbcbcb;
    vertical-align: middle;
    margin: auto 0;
}

.main_banner {
    background-image: url("../mocks/Pizza2.jpg");
    background-size: 563px;
    height: 528px;
    background-repeat: no-repeat;
    background-color: white;   
    
}
.banner_logo{
    position: absolute;
    top:20%;
    left: 45%;
}
.banner_logo img{
    height: 50px;
}
.banner_text{
    text-align: center;
    font-family: ShabnamBold;   
    font-size: 2rem;
    padding-top: 195px;
    /* padding-left: 20px; */
    margin-left: 20px;
}
.banner_text p{
    font-family: Shabnam;
    color: #9c9c9c;
    font-size: 0.9rem;
    margin-top: 5px;
}
/* .logo_main {
    text-align: center;
} */

.main_search_box {
    border-width: 1px;
    width: 750px;
    height: 71px;
    background-color: #fff;
    text-align: center;
    margin-left: 272px;
    box-shadow: -3px 3px 9px -5px;
    border-radius: 8px;
    perspective: 1px;
    overflow: hidden;
    direction: rtl;
}
.city_select {
    float :right;
    width: 150px;
    height: 48px;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-bottom: 6px;
    margin-top: 7px;
    margin-right: 8px;
    margin-left: 5px;
    border: 1px solid #e2e2e2;
    border-right-width: 1px;
    border-top-color: rgb(226, 226, 226);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(226, 226, 226);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(226, 226, 226);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(226, 226, 226);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: .7rem;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
}
.city_select_element{
    font-family: Shabnam;
    font-size: 0.6em;
    border: none;
    
}
.neighbor_input_element{
    font-family: Shabnam;
    border: none;
    direction: rtl;
    font-size: 0.51em;
    float: right;
    margin-top: 12px;
    margin-right: 10px;
    width: 400px;
    color: #b7b7b7;
}
.neighbor_input{
    float: right;
    width: 572px;
    height: 48px;

    padding-top: 3px;
    padding-bottom: 2px;
    margin-bottom: 6px;
    margin-top: 7px;

    border: 1px solid #e2e2e2;
    border-right-width: 1px;
    border-top-color: rgb(226, 226, 226);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(226, 226, 226);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(226, 226, 226);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(226, 226, 226);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: .7rem;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
}
.neighbor_input:focus{
    border: none;
}
.neighbor_input_caption{
    font-family: Shabnam;
    font-size: 0.3em;
    float: right;
}

#pin_icon{
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    float: right;
    margin-top: 12px;
    margin-right: 10px;
    filter: brightness(172%);

}

.section2{
    /* background-color:  #cac6c6; */
    background-color: #efefef;

}

.guide_card_section{
    float: right;
    margin-left: 40px;
    margin-right: 80px;
    background-color: rgb(250,250,250);
}
    /* direction: rtl; */
.guide_card_caption{
    font-family: Shabnam;
    direction: rtl;
    color: #9c9c9c;
    text-align: right;
    font-weight: 500;
    /* float: right; */
    /* font-size: 0.6em; */
}
.guide_card_div{
    font-family: Shabnam;
    float: right;
    color: #9c9c9c;
    border-width: 1px;
    font-size: 0.8em;
    height: 110px;
    width: 310px;
    background-color: #fff;
    text-align: center;
    box-shadow: -3px 3px 9px -5px;
    border-radius: 3px;
    perspective: 1px;
    display: inline-block;
    /* overflow: hidden; */
}
.guide_card_div_img{
    float: right;
    width: 50px;
    margin-right: 10px;
    margin-top: 25px;


}
.guide_card_div_text{
    margin-top: 32px;
    font-size: 11px;
}


.section3{
    background-color: rgb(250,250,250);
}
.section3_intro{
    text-align: center;
    background-color: rgb(250,250,250);
    font-family: ShabnamBold;
    margin-top: 300px;
    margin-bottom: 20px;
    font-size: 1.5em;
}
.top_restaurant_section{
    float: right;
    margin-left: 20px;
    margin-right: 80px;
    /* margin-bottom: 100px; */
    
}
.top_restaurant_div{
    /* margin-bottom: 100px; */
    font-family: Shabnam;
    text-align: center;
    float: right;
    border-width: 1px;
    font-size: 0.8em;
    height: 320px;
    width: 320px;
    background-color: #fff;
    text-align: center;
    box-shadow: -3px 3px 9px -5px;
    border-radius: 3px;
    perspective: 1px;
    overflow: hidden;
    transition: box-shadow 0.3s;
    box-shadow:0px 0px 5px 0px #cfcfcf85;
}
.top_restaurant_div:hover{
    box-shadow:0px 0px 20px 0px #cfcfcf85;
}
.top_restaurant_div p{
    color:rgb(150, 150, 150);
}
.top_restaurant_logo{
    margin-top: 25px;
    border: 2px;
    box-shadow:0px 0px 20px 0px #cfcfcf85;

}
.good_restaurant{
    /* margin-top: 200px; */
    background-image: url("../mocks/pizza_restaurantes.png");
    background-size: cover;
    background-size: 750px;
    height: 700px;
    background-repeat: no-repeat;
    /* margin-top: 300px; */
    background-color: #efefef;
}   
.section4{
    margin-top: 450px;
    background-color: #efefef;
}

.test{
    width: 81px;
    height: 81px;

}
.grid_container{
    float: right;
    display: grid;
    font-size: 0.8em;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(3, 80px);
    grid-gap: 65px;
    margin-right: 100px;
    margin-top: 50px;
}

.grid_container__item{
    text-align: center;
    font-family: Shabnam;
    /* color: rgb(88, 81, 81); */
    background-image: url("../mocks/bakground-section4.PNG");
    background-size: cover;
    transition: box-shadow 0.3s;
   
}
.grid_container__item:hover{
    box-shadow:0px 0px 20px 0px #8f8d8d85;
}
/* 
.grid_container__img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    
} */
#btn{
    border: .02rem solid #cbcbcb!important;
    border-radius: 3px;
    perspective: 1px;

}
 
 .section4_caption{
    text-align: right;
    margin-right: 100px;
    margin-top: 50px;
    font-family: Shabnam;
 }


.section5{
    background-color: rgb(246,249,252);
}
.section5_intro{
    text-align: center;
    font-family: ShabnamBold;   
    font-size: 2rem;
    
    margin-bottom: 0px;
    border-top-width: 5px;
    padding-top: 24px;

}
.section5_intro_h4{
    margin-bottom: 0px;
}
.section5_intro_p{
    margin-bottom: 0px;
    font-family: Shabnam;
    font-size: 0.7em;
    margin-top: 5px;
}

.section5_grid_container{
    background-color: rgb(246,249,252);
    float: right;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(1, 300px);
    grid-gap: 20px;
    margin-right: 120px;
    margin-top: 50px;
}


.section5_grid_container__item{
    /* background-size: cover; */
    transition: box-shadow 0.3s;
    background-color: rgb(246,249,252);
    border-width: 0.5px;
    font-size: 0.8em;
    box-shadow: -3px 3px 9px -5px; 
    border-radius: 3px;
    perspective: 1px;
}
#sec5_input_id{
   width: 250px; 
   height:  300px;
}



.section5_text{
    position: absolute;
    bottom: 5px;
    right: 10px;
    direction: rtl;
    font-family: Shabnam;
    color: white;
}
.section5_text h1{
    margin-bottom: 0px;
}
.input_item_1{
    background: url("../mocks/kebab_1525012065.jpeg");
    width: 250px; 
    height:  300px;
    border: none;
    cursor: pointer;
}
.input_item_2{
    background: url("../mocks/hamburger_1539779150.jpeg");
    width: 250px; 
    height:  300px;
    border: none;
    cursor: pointer;
    background-blend-mode: darken;
}
.input_item_3{
    background: url("../mocks/pizza_1539780235.jpeg");
    width: 250px; 
    height:  300px;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.input_item_4{
    background: url("../mocks/sandwich_1539782856.jpeg");
    width: 250px; 
    height:  300px;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
}

.section5_grid_container__item:hover{
    
    box-shadow:0px 0px 10px 0px #8f8d8d85;  
}
 
.section5_text_bottom{
    text-align: center;
    font-family: Shabnam;
    margin-top: 400px;
    margin-bottom: 20px;
    font-size: 1.4em;
}

.more_foods{
    margin-left: 240px;
    margin-right:240px;
    text-align: center;
    line-height: 70px;
}
.more_food_link{
    text-decoration: none;
    color: black;
    font-family: Shabnam;
    /* height: 47rem; */
    margin-left: 10px;
    margin-right: 10px;
    height: 47px;
    border-radius: 25px;
    padding:  12px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    font-size: 1.1em;
    font-weight: 650;
    text-align: center;
    line-height: 3.5px;
    margin-left: 1.2px;
    margin-bottom: 2.5px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.more_food_link:hover{
    box-shadow:0px 0px 20px 0px #8f8d8d85;   
}
.bottom_description{
    font-family: Shabnam;
    direction: rtl;
    float: right;

    background-color: rgb(32,32,32);
}
.bottom_description a{
    text-decoration: none;
    color: rgb(79,133,255);

}
.bottom_description p{
    color: rgb(155,155,155);
}
.bottom_sections{
    float: left;
    
}
.download_links{
    direction: rtl;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    
}
.reyhoon_support{
    direction: rtl;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    
}
.restaurants{
    display: inline-block;
    direction: rtl;
    margin-left: 20px;
    margin-right: 20px;
}
.contact{
    display: inline-block;
    direction: rtl;
    margin-left: 20px;
    margin-right: 20px; 
}
.checked{
    color: orange;
}
.halfchecked{
    color: orange;
}
.unchecked{
    /* color: rgb(203,203,203); */
    color: orange;
}
#good_p{
    padding-top: 40px;
}
.top_restaurant_button{
    color: rgb(212,2,99);
    margin-top:10px;
    background-color: white;
    font-size: 1.1em;
    font-family: Shabnam;
    border-radius: 23px;
    height: 31px;
    width: 133px;
    padding-top: 5;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    text-align: center;
    border: 1px solid;
    transition: 0.3s;

}
.top_restaurant_button:hover{
    background-color: rgb(241, 226, 232);
}
.orange_rating{
    color:rgb(249,185,43);
    font-weight: 700;
}